body{ 
    font-family: 'lato', sans-serif;
    color      : $color-grey-dark;
    line-height: 1.7;
    font-weight: 400;
    padding    : 3rem;
}

.heading-primary{
    color         : #fff;
    text-transform: uppercase;
    margin-bottom : 6rem;
    
    backface-visibility: hidden; /*for disable shaky screen*/

    &--main{
        display       : block;  /*for occupy the entire width before and after element*/
        font-size     : 6rem;
        font-weight   : 400;
        letter-spacing: 3.5rem;
    
        animation-name    : moveInLeft;
        animation-duration: 1s; 
        animation-delay   : .3s;
    }
    
    &--secondary{
        display       : block; 
        font-size     : 2rem;
        font-weight   : 700;
        letter-spacing: 1.75rem;
    
        animation-name    : moveInRight;
        animation-duration: 1s;
        animation-delay   : .3s;
    }
}

.heading-secondary{
    display                : inline-block;
    font-size              : 3.5rem;
    text-transform         : uppercase;
    font-weight            : 700;
    background-image       : linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text; /*make a background behind text*/
    color                  : transparent; /*with transparent make a clip pop out*/
    letter-spacing         : .2rem;
    transition             : all .2s;
    // backface-visibility    : hidden;

    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, $alpha: .2);
    }
}

.heading-tertiary{
    font-size     : $default-font-size;
    font-weight   : 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
