.header{
    height             : 95vh;
    background-image   : linear-gradient(to right bottom, rgba($color-primary-light, .6) 50%, rgba($color-primary-dark, .6) 80%), url(../img/hero.jpg);
    background-position: top;
    background-size    : cover;
    clip-path          : polygon(0 0, 100% 0, 100% 85vh, 0 100%);

        &__logo-box{
            position: absolute;
            top     : 6rem;
            left    : 6rem;
        }
        
        &__logo{
            height: 3.5rem;
        }

        &__text-box{
            position     : absolute;
            top          : 40%;
            left         : 50%;
            transform    : translate(-50%, -50%);
            text-align   : center;
        }
}