.section-about{
    background-color: $color-grey-light-1;
    margin-top      : -10vh;
    padding         : 25rem 0;
}

.section-feature{
    padding         : 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .6) 50%, rgba($color-primary-dark, .6) 80%), url(../img/nat-4.jpg);
}