.btn{

    &:link,
    &:visited{
        text-decoration: none;
        text-transform : uppercase;
        padding        : 15px 40px;
        display        : inline-block;
        border-radius  : 10rem;
        transition     : all .2s;
        position       : relative;
        font-size      : $default-font-size;
    }
    
    &:hover{
        transform : translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active{
        transform : translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
    &--white{
        background-color: $color-white;
        color           : $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }
    
    &::after{
        content       : "";
        border-radius : 10rem;
        display       : inline-block;
        text-transform: uppercase;
        height        : 100%;
        width         : 100%;
        z-index       : -1;
        transition    : all .2s;
        
        position: absolute;
        top     : 0;
        left    : 0;
    }
    
    &:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity  : 0;
    }
    
    &--animated{
        animation          : moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; /*applied keyframes early*/
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size      : $default-font-size;
        color          : $color-primary;
        display        : inline-block;
        text-decoration: none;
        border-bottom  : 1px solid $color-primary;
        padding        : 3px
    }

    &:hover{
        background-color: $color-primary;
        color           : $color-white;
        box-shadow      : 0 1rem 2rem rgba($color-black, $alpha: .15);
        transform       : translateY(-2px);
    }

    &:active{
        color     : $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
        transform : translateY(0)
    }
}