.composition{
    position: relative;
    background: red;

    &__photo{
        width         : 55%;
        box-shadow    : 0 1.5rem 4rem rgba($color-black, $alpha: .4);
        border-radius : 2px;
        position      : absolute;
        z-index       : 10;
        outline-offset: 2rem;
        transition    : all .2s;

        &--p1{
            left: 0;
            top : -2rem;
        }

        &--p2{
            right: 0;
            top  : 2rem;
        }

        &--p3{
            left: 20%;
            top : 10rem;
        }

        &:hover{
            transform    : scale(1.1);
            z-index      : 20;
            outline      : 2rem solid $color-primary;
            border-radius: 0 2rem 4rem rgba($color-black, $alpha: .5);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.8) translateY(-.5rem);
    }
}